@model MyClub.Models.Article

@{
    ViewBag.Title = "Details";
}
<br />
<h1 class="text-center">Forum</h1>

<div>
    <hr />
    <span style="float:right;">
        @if (Context.User.IsInRole("Admin") || User.Identity.Name == Model.User.UserName)
        {
            <a href='@Url.Action("Edit", "Article", new { id = Model.ID })'>
                <button type="button" class="btn btn-primary">Edytuj artykuł</button>
            </a>

            using (Html.BeginForm("DeleteArticle", "Article", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div style="float:right;" class="form-actions no-color">
                    <input type="hidden" name="id" value="@Model.ID" class="btn btn-danger" />
                    <input type="submit" value="Usuń" class="btn btn-danger" />
                </div>
                <span style="clear:both;"></span>
            }
        }
    </span>
    <span style="clear:both;"></span>

    <h1>@Model.Subject</h1>
    <br />
    <br />
    <p>@Model.Content</p>
    <hr style="color: red;" />
    <div style="padding: 20px;">
        @foreach (var item in @ViewBag.Answers)
        {
            <p style="float:right; font-size:13px">@item.Date</p>
            <p style="font-size:13px;">@item.User.Name @item.User.Surname</p>
            <span style="clear:both;"></span>

            if (Context.User.Identity.Name == item.User.UserName)
            {
                using (Html.BeginForm("DaleteAnswer", "Article", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div style="float:right;" class="form-actions no-color">
                        <input type="hidden" name="id" value="@item.ID" class="btn btn-danger" />
                        <input type="submit" value="Usuń" class="btn btn-danger" />
                    </div>
                    <span style="clear:both;"></span>
                }
            }

            <p>@item.UsersAnswer</p>
            <hr />
        }
    </div>
    <div class="text-center">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("AddAnswer", "Article", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                {
                    <input type="hidden" value="@Model.ID" name="articleID" />
                    <div class="form-group text-center">
                        <textarea name="answer" id="answer" rows="4" cols="100" style="max-width: 900px; margin-left:auto; margin-right:auto;" class="form-control" placeholder="Komentarz..."></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Dodaj komentarz" class="btn btn-success" />
                    </div>
                }
            }

        }
        else
        {
            <p> Zaloguj się aby dodać komentarz!</p>
        }
    </div>
</div>
