@model IEnumerable<MyClub.Models.IndividualTraining>

@{
    ViewBag.Title = "Index";
}


<br />
<h1 class="text-center">Treningi indiwidualne</h1>
<br />
@if (Request.IsAuthenticated)
{
    <a href='@Url.Action("Create", "IndividualTrainings" )'>
        <button type="button" class="btn btn-success">Zarezerwuj nowy trening</button>
    </a>
}

<div class="container">
    @if(Model.Count() == 0)
    {
        <h2 style="color: red">Brak zarezerwowanych treningów</h2>
    }
    <div class="row align-items-start">
        @foreach (var item in Model)
        {

            <div class="jumbotron">
                @if (Request.IsAuthenticated)
                {
                    if (User.Identity.Name == item.User.UserName)
                    {
                        <h2 style="color:orangered"><b>@Html.DisplayFor(modelItem => item.ID). Trening @Html.DisplayFor(modelItem => item.Date)</b></h2>
                    }
                    else
                    {
                        <h2>@Html.DisplayFor(modelItem => item.ID). Trening @Html.DisplayFor(modelItem => item.Date)</h2>
                    }
                }
                else
                {
                    <h2>@Html.DisplayFor(modelItem => item.ID). Trening @Html.DisplayFor(modelItem => item.Date)</h2>
                }


                <p><b>Imię i nazwisko: </b></p>
                @Html.DisplayFor(modelItem => item.User.Name)
                @Html.DisplayFor(modelItem => item.User.Surname)


                <br />
                <br />
                <p><b>Instruktor:</b></p>
                @Html.DisplayFor(modelItem => item.Instructor.User.Name)
                @Html.DisplayFor(modelItem => item.Instructor.User.Surname)
                <br />
                <br />

                <p><b>Miejsce: </b></p>

                @Html.DisplayFor(modelItem => item.Place)
            </div>



        }
    </div>
</div>

